<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a.my_diary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--일기쓰기-->
        <activity android:name=".WriteDiaryActivity">

        </activity>
        <!--일기보기-->
        <activity android:name=".ShowMyData">

        </activity>
        <!--일기수정하기-->
        <activity android:name=".ModifyMyData">

        </activity>
        <!--앱도움말-->
        <activity android:name=".AppHelpActivity">

        </activity>
    </application>

</manifest>